<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${book.getTitle() + ', ' + book.getYearOfCreation()}">VALUE</p>

<div th:if="${owner}">
    <span>Книга находится в распоряжении у: </span> <span th:text="${owner.getName()}"> Human name</span>
   <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
       <input type="submit" value="Освободить книгу">
   </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому ее отдать?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="human">Выберите человека</label>
        <select th:object="${human}" th:field="id" id="human">
            <option th:each="human : ${people}" th:value="${human.getId()}" th:text="${human.getName()}">
            </option>
        </select>
    </form>
</div>
    <hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>